In [7]:
import pandas as pd

In [8]:
df_train = pd.read_csv('dataset/train.csv')
df_test = pd.read_csv('dataset/test.csv')

In [9]:
df_train.head(5)

,Unnamed: 0,#_draft,#_round,pick,available,pool
0,0,1,1,Skyrider_Patrol,"['Hungering_Hydra', 'Electrify', 'Gallant_Cava...",[]
1,1,1,2,Strangling_Spores,"[""Ajani's_Pridemate"", 'Aviation_Pioneer', 'Sna...",['Skyrider_Patrol']
2,2,1,3,Ajani's_Pridemate,"['Volcanic_Dragon', 'Hostile_Minotaur', 'Rustw...","['Skyrider_Patrol', 'Strangling_Spores']"
3,3,1,4,Bristling_Boar,"['Boggart_Brute', 'One_with_the_Machine', 'Epi...","['Skyrider_Patrol', 'Strangling_Spores', ""Ajan..."
4,4,1,5,Colossal_Dreadmaw,"['Fiery_Finish', 'Hostile_Minotaur', 'Psychic_...","['Skyrider_Patrol', 'Strangling_Spores', ""Ajan..."

In [10]:
df_test.head(5)

,Unnamed: 0,#_draft,#_round,pick,available,pool
0,0,1,1,Lena_Selfless_Champion,"['Poison-Tip_Archer', 'Militia_Bugler', 'Caval...",[]
1,1,1,2,Sparktongue_Dragon,"['Suspicious_Bookcase', 'Diamond_Mare', 'Might...",['Lena_Selfless_Champion']
2,2,1,3,Ravenous_Harpy,"['Gargoyle_Sentinel', 'Skeleton_Archer', 'Invo...","['Lena_Selfless_Champion', 'Sparktongue_Dragon']"
3,3,1,4,Skymarch_Bloodletter,"['Giant_Spider', 'Novice_Knight', 'Loxodon_Lin...","['Lena_Selfless_Champion', 'Sparktongue_Dragon..."
4,4,1,5,Horizon_Scholar,"['Elvish_Rejuvenator', 'Rupture_Spire', 'Dwind...","['Lena_Selfless_Champion', 'Sparktongue_Dragon..."

In [11]:
#selecione todas as pools completas
def get_all_pools(df):
    p = []
    complete_pools = df[df['pick'].isnull()]['pool']

    # Printando as pools completas
    for _, pool in enumerate(complete_pools):
        p.append(pool)
    return p

In [12]:
p = get_all_pools(df_train)
p = p + get_all_pools(df_test)

In [13]:
len(p)

107949

In [14]:
def processar_string_entrada(s):
    s = s[1:-1].replace("\'", "").replace("\"", "")
    return [nome.strip() for nome in s.split(",")]

decks = [processar_string_entrada(pool) for pool in p]

In [15]:
from gensim.models import Word2Vec

# Treine o modelo Word2Vec
model = Word2Vec(sentences=decks, vector_size=100, window=5, min_count=1, workers=4)

# Salve o modelo para uso futuro
model.save("card2vec.model")

In [16]:
# Carregue o modelo treinado (se necessário)
model = Word2Vec.load("card2vec.model")

# Obtenha o vetor (embedding) de uma carta específica
vector = model.wv['Pelakka_Wurm']

# Encontre cartas semelhantes a uma dada carta
similar_cards = model.wv.most_similar('Pelakka_Wurm', topn=10)

In [17]:
similar_cards

[('Viviens_Invocation', 0.9488591551780701),
 ('Hungering_Hydra', 0.9480116367340088),
 ('Vivien_Reid', 0.9427934288978577),
 ('Prodigious_Growth', 0.9305558800697327),
 ('Vigilant_Baloth', 0.9252592325210571),
 ('Goreclaw_Terror_of_Qal_Sisma', 0.9168668985366821),
 ('Runic_Armasaur', 0.9165372252464294),
 ('Ghastbark_Twins', 0.9110701084136963),
 ('Vine_Mare', 0.9088302850723267),
 ('Druid_of_the_Cowl', 0.9087492823600769)]